@inject IJSRuntime jsRT
@page "/calendar"
<h3>Calendar</h3>
<div id='calendar'></div>
<script>
        window.loadCalendar();
</script>
@code{


    protected override async void OnInitialized()
    {
        await jsRT.InvokeVoidAsync("loadCalendar");
    }

}