@page "/calendar"
<h3>Calendar</h3>
 <div id='calendar'></div>

<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.17/index.global.min.js'></script>
<script>

    //On Page Load
    $(function(){
        loadCalendar();
    });

    function loadCalendar(){
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth'
        });
        calendar.render();
    }

    loadCalendar();
</script>